# python environment specific
*.pyc
__pycache__/
*.egg-info/
.venv/
.idea/
*.swp
*.swo

# jupyter related
.ipynb_checkpoints/

# scan data (large files, user-generated)
scans/

# IDE
.vscode/