# BTT SKR Pico Klipper Config dla scAnt (Skaner 3D)
# Oś X: Ramię kamery
# Oś Y: Stół obrotowy
# Oś Z: Wózek ostrości (Focus)

[mcu]
serial: /dev/serial/by-id/usb-Klipper_rp2040_E661640843516E28-if00
# Zaktualizuj powyższą ścieżkę po podłączeniu SKR Pico (komenda: ls /dev/serial/by-id/*)

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 3000
max_z_velocity: 15
max_z_accel: 100

#####################################################################
#   Oś X - Ramię Kamery
#####################################################################
[stepper_x]
step_pin: gpio11
dir_pin: gpio10
enable_pin: !gpio12
microsteps: 16
rotation_distance: 40
endstop_pin: tmc2209_stepper_x:virtual_endstop
# endstop_pin: ^gpio4  # Odkomentuj, jeśli chcesz użyć fizycznej krańcówki
homing_retract_dist: 0
position_endstop: 0
position_max: 450
homing_speed: 20

[tmc2209 stepper_x]
uart_pin: gpio9
tx_pin: gpio8
uart_address: 0
run_current: 0.4
hold_current: 0.3
stealthchop_threshold: 999999
diag_pin: ^gpio4
driver_SGTHRS: 100 # Czułość sensorless homing (0-255). Dostosuj do swoich silników.

#####################################################################
#   Oś Y - Stół Obrotowy
#####################################################################
[stepper_y]
step_pin: gpio6
dir_pin: gpio5
enable_pin: !gpio7
microsteps: 16
rotation_distance: 40
endstop_pin: tmc2209_stepper_y:virtual_endstop
# endstop_pin: ^gpio3 # Odkomentuj, jeśli chcesz użyć fizycznej krańcówki
homing_retract_dist: 0
position_endstop: 0
position_max: 1600
homing_speed: 20

[tmc2209 stepper_y]
uart_pin: gpio9
tx_pin: gpio8
uart_address: 2
run_current: 0.4
hold_current: 0.3
stealthchop_threshold: 999999
diag_pin: ^gpio3
driver_SGTHRS: 100

#####################################################################
#   Oś Z - Wózek Ostrości (Focus)
#####################################################################
[stepper_z]
step_pin: gpio19
dir_pin: gpio28
enable_pin: !gpio2
microsteps: 16
rotation_distance: 8
endstop_pin: tmc2209_stepper_z:virtual_endstop
# endstop_pin: ^gpio25 # Odkomentuj, jeśli chcesz użyć fizycznej krańcówki
homing_retract_dist: 0
position_endstop: 0
position_min: -45000
position_max: 0
homing_speed: 10

[tmc2209 stepper_z]
uart_pin: gpio9
tx_pin: gpio8
uart_address: 1
run_current: 0.4
hold_current: 0.3
stealthchop_threshold: 999999
diag_pin: ^gpio25
driver_SGTHRS: 100
